@media print {

  h1 { font-size: 20px; }
  h2 { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; margin-top: 30px; }
  body { font-size: 12px; }
  fieldset { border: 0; }

  div.breadcrumb,
  fieldset legend,
  .hidden-print,
  .messages {
    display: none;
  }

  table { width: 100%; }
  th.col-1 { width: 10%; }
  th.col-2 { width: 10%; }
  th.col-4 { width: 15%; }
  th.col-5 { width: 10%; }
}

table { width: 100%; }
th.col-1 { width: 10% }
th.col-2 { width: 10% }
th.col-4 { width: 15%; }
th.col-5 { width: 10%; }
