@media screen {
  table { width: 100%; margin-bottom: 40px !important; }
  th.col-1 { width: 25% }
}

@media print {

  h1 { font-size: 20px; }
  h2 { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; margin-top: 30px; }
  body { font-size: 12px; }
  fieldset { border: 0; }

  div.breadcrumb,
  fieldset legend,
  .hidden-print,
  .add-or-remove-shortcuts,
  .messages {
    display: none;
  }

  table { width: 100%; }
  th.col-1 { width: 25%; }
  th { color: black !important; background-color: #e1e2dc !important; border: 0 !important; }
  td { background-color: white !important; border: 0 !important; }
}
