/* global styles*/
.main-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.breadcrumb-container {
  background-color: @breadcrumb-bg;
}
.breadcrumb {
  margin-bottom: 0;
  border-radius: 0;
  @media (min-width: @grid-float-breakpoint) {
    li:first-child {
      margin-left: 13px;
    }
  }
}

#page-title {
  margin-top: 0;
}

/* front page styling*/
h2.pane-title {
  margin-bottom:20px;
}
.view-latest-updates {
  .view-content > .item-list > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    [dir="rtl"] &>li{
      margin-right: 0;
    }
    .views-field.views-field-field-image .field-content{
      float:right;
      margin-left: 20px;
      [dir="rtl"] &{
        float:right;
        margin-right: auto;
        margin-left: 20px; 
      }
    }
    
    .views-field.views-field-field-dates{
      font-size: 12px;
      color: #999;
    }
    .views-field.views-field-body{
      //clear: both;
      margin-bottom: 1em;
    }
  }
}

#block-ptk-base-chm-content-statistics {
  &:extend(.well);
  .table-responsive, tr, td {
    border: none;
  }
  table {
    tr {
      background-color: transparent;
    }
    td {
      padding: .5em 0;
      font-size: 16px;
      line-height: inherit;
      color: #000;
      a {
        color: @link-color-temp;
        &:hover {
          color: @link-color-hover-temp;
        }
      }
      .fa {
        margin-right: .5em;
      }
    }
  }
}

.pane-ptk-base-chm-content-statistics {
  font-size: 16px;
  table>tbody>tr>td:nth-child(2) {
    position: relative;
  }
  span.fa {
    margin-right: 8px;
    [dir="rtl"] &{
      right: auto;
      margin-left: 8px;
      margin-right: 0;
    }
  }
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: inherit;
}

/*Aichi biodiversity targets*/
.view-aichi-biodiversity-targets .view-content {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: black;
  }

  & > ul > li {
    & > .views-field.views-field-name-field {
      // font-size: 20px;
      font-size: 1.2em;
      margin-top: .5em;
      margin-bottom: 1em; 
      font-weight: bold;
      text-decoration: underline;
    }
    & > ul > li {//1.
      margin-top: 1em;
      margin-bottom: 1em;
      & > .views-field.views-field-field-image-et{
        float: left; //LTR
        width: 5rem;
        [dir="rtl"] &{
          float: right;
        }
      }
      & > .views-field.views-field-name-field{
        & > .field-content {
          display: table-cell;
          vertical-align: middle;
          // font-size: 18px;
          font-weight: bold;
          height: 5rem;
          text-transform: uppercase;
        }
      }
      
      & > ul{ //1.1.
        clear: both;
        margin-top: .5em;
        margin-left: 3.5rem; //LTR
        margin-right: 2.5rem; //LTR
        [dir="rtl"] &{
          margin-left: 2.5rem; 
          margin-right: 3.5rem;
        }
        >li{
          position: relative;
          margin-bottom: 1em;
          cursor: pointer;
          a{
            text-decoration: none;
          }
          &::before{
            content: '';
            display: table-cell;
            margin-top: .4em;
            margin-right: .5em;
            background-color: black;
            width: .5em;
            height: .5em;
            position: absolute;
            right: 100%;
            transition: .2s;
            [dir="rtl"] &{
              right: auto;
              left: 100%; 
              margin-right: 0em;
              margin-left: .5em;
            }
          }
          
          &:hover::before{
            margin-top: 0;
            height: 100%;

          }
        }
      }
    }
    //hover effects 
    &:nth-of-type(1) > .views-field.views-field-name-field > .field-content > a:hover,
    &:nth-of-type(1) > ul > li > .views-field.views-field-name-field > .field-content > a:hover{
      color: #BF1D2D; 
    }
    &:nth-of-type(2) > .views-field.views-field-name-field > .field-content > a:hover,
    &:nth-of-type(2) > ul > li > .views-field.views-field-name-field > .field-content > a:hover{
      color: #FBB040; 
    }
    &:nth-of-type(3) > .views-field.views-field-name-field > .field-content > a:hover,
    &:nth-of-type(3) > ul > li > .views-field.views-field-name-field > .field-content > a:hover{
      color: #652C91; 
    }
    &:nth-of-type(4) > .views-field.views-field-name-field > .field-content > a:hover,
    &:nth-of-type(4) > ul > li > .views-field.views-field-name-field > .field-content > a:hover{
      color: #00AEEF; 
    }
    &:nth-of-type(5) > .views-field.views-field-name-field > .field-content > a:hover,
    &:nth-of-type(5) > ul > li > .views-field.views-field-name-field > .field-content > a:hover{
      color: #8DC53E; 
    }

    //hover effects 1.1.
    &:nth-of-type(1) > ul > li > ul > li:hover::before{
      background-color: #BF1D2D; 
    }
    &:nth-of-type(2) > ul > li > ul > li:hover::before{
      background-color: #FBB040; 
    }
    &:nth-of-type(3) > ul > li > ul > li:hover::before{
      background-color: #652C91; 
    }
    &:nth-of-type(4) > ul > li > ul > li:hover::before{
      background-color: #00AEEF; 
    }
    &:nth-of-type(5) > ul > li > ul > li:hover::before{
      background-color: #8DC53E; 
    }
  }
  //tablets
  @media all and (min-width: 767px){

    & > ul > li {
      & > .views-field.views-field-name-field{
        // font-size: 24px;
      }
      & > ul{
        margin-left: 3rem; //LTR
        [dir="rtl"] &{
          margin-left: 0;
          margin-right: 3rem;
        }
      }
      
      & > ul > li {//1.
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        & > .views-field.views-field-field-image-et{
          width: 6rem;
        }
        & > .views-field.views-field-name-field{
          & > .field-content {
            // font-size: 20px;
            height: 6rem;
          }
        }
        & > ul{ //1.1.
          margin-left: 4rem; //LTR
          [dir="rtl"] &{
            margin-left: 0rem;
            margin-right: 4rem;
          }
        }
        
      }
    }  
  }
  @media all and (min-width: 1023px){

    & > ul > li {
      & > .views-field.views-field-name-field{
        // font-size: 26px;
      }
      & > ul{
        margin-left: 4rem; //LTR
        [dir="rtl"] &{
          margin-left: 0rem;
          margin-right: 4rem;
        }
      }
      
      & > ul > li {//1.
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        & > .views-field.views-field-field-image-et{
          width: 7rem;
        }
        & > .views-field.views-field-name-field{
          & > .field-content {
            // font-size: 22px;
            height: 7rem;
          }
        }
        & > ul{ //1.1.
          margin-left: 4.5rem; //LTR
          // font-size: 16px;
          [dir="rtl"] &{ //1.1.
            margin-left: 0rem;
            margin-right: 4.5rem;
          }
        }
        
      }
    }  
  }
}

/*Sustainable Development Goals*/
.view-sustainable-development-goals .view-content {
  margin-top: 2em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a{
    color: black;
  }

  & > ul > li {
    margin-bottom: 3em;
    & > .views-field.views-field-field-image-et img{
      // float: left;
      width: 8rem;
      margin: 1.5em auto;
      // margin-right: .5em;
    }

    & > .views-field.views-field-name-field{
      & > .field-content {
        // display: table-cell;
        // vertical-align: middle;
        // font-size: 16px;
        // height: 8rem;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    
    & > ul{ //1.1.
      clear: both;
      margin-top: .5em;
      margin-left: 2.5em;
      margin-right: 2em;
      // list-style-type: square;
      // list-style-position: inside;
      & > li{
        
        margin-bottom: 1em;
        position: relative;
        &::before{
          content: '';
          display: table-cell;
          margin-top: .4em;
          margin-right: .5em; //LTR
          background-color: black;
          width: .5em;
          height: .5em;
          position: absolute;
          right: 100%; //LTR
          transition: .2s;
          [dir="rtl"] &{
            margin-right: 0;
            margin-left: .5em;
            right: auto;
            left: 100%;
          }
        }
        
        &:hover::before{
          margin-top: 0;
          height: 100%;
        }
        &:hover{
          cursor: pointer; 
          a{
          text-decoration: none;
          color: black;
          }
          
        }
      }
    }
    //hover goal title
    &:nth-of-type(1) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #E5223C;
    }
    &:nth-of-type(2) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #DCA63A;
    }
    &:nth-of-type(3) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #4BA045;
    }
    &:nth-of-type(4) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #C6202F;
    }
    &:nth-of-type(5) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #EE402D;
    }
    &:nth-of-type(6) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #27BFE6;
    }
    &:nth-of-type(7) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #FAC412;
    }
    &:nth-of-type(8) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #A21B43;
    }
    &:nth-of-type(9) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #F1692D;
    }
    &:nth-of-type(10) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #DD1667;
    }
    &:nth-of-type(11) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #F79C2A;
    }
    &:nth-of-type(12) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #BE8C2C;
    }
    &:nth-of-type(13) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #407E46;
    }
    &:nth-of-type(14) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #1F96D4;
    }
    &:nth-of-type(15) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #58B947;
    }
    &:nth-of-type(16) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #12699E;
    }
    &:nth-of-type(17) > .views-field.views-field-name-field > .field-content > a:hover{
      color: #13486A;
    }
    //hover effects sidebar element
    &:nth-of-type(1) > ul > li:hover::before{
      background-color: #E5223C;
    }
    &:nth-of-type(2) > ul > li:hover::before{
      background-color: #DCA63A;
    }
    &:nth-of-type(3) > ul > li:hover::before{
      background-color: #4BA045;
    }
    &:nth-of-type(4) > ul > li:hover::before{
      background-color: #C6202F;
    }
    &:nth-of-type(5) > ul > li:hover::before{
      background-color: #EE402D;
    }
    &:nth-of-type(6) > ul > li:hover::before{
      background-color: #27BFE6;
    }
    &:nth-of-type(7) > ul > li:hover::before{
      background-color: #FAC412;
    }
    &:nth-of-type(8) > ul > li:hover::before{
      background-color: #A21B43;
    }
    &:nth-of-type(9) > ul > li:hover::before{
      background-color: #F1692D;
    }
    &:nth-of-type(10) > ul > li:hover::before{
      background-color: #DD1667;
    }
    &:nth-of-type(11) > ul > li:hover::before{
      background-color: #F79C2A;
    }
    &:nth-of-type(12) > ul > li:hover::before{
      background-color: #BE8C2C;
    }
    &:nth-of-type(13) > ul > li:hover::before{
      background-color: #407E46;
    }
    &:nth-of-type(14) > ul > li:hover::before{
      background-color: #1F96D4;
    }
    &:nth-of-type(15) > ul > li:hover::before{
      background-color: #58B947;
    }
    &:nth-of-type(16) > ul > li:hover::before{
      background-color: #12699E;
    }
    &:nth-of-type(17) > ul > li:hover::before{
      background-color: #13486A;
    }
  }

  //tablets
  @media all and (min-width: 424px){
    & > ul > li {
      & > .views-field.views-field-field-image-et{
        float: left; //LTR
        width: 7.5rem;
        margin-right: .5em;
        [dir="rtl"] &{
          float: right;
          margin-right: 0;
          margin-left: .5em;
        }
        img{
          margin: 0;
          width: auto;
        }
      }
      
      & > .views-field.views-field-name-field{
        & > .field-content {
          display: table-cell;
          vertical-align: middle;
          // font-size: 16px;
          height: 7.5rem;
        }
      }
      
      & > ul{ //1.1.
        margin-top: 1.5em;
        margin-left: 3.5em; //LTR
        margin-right: 3.25em; //LTR
        [dir="rtl"] &{ //1.1.
          margin-right: 3.5em;
          margin-left: 3.25em;
        } 
      } 
      
    }
  }
  @media all and (min-width: 767px){
    & > ul > li {
      margin-bottom: 3em;
      & > .views-field.views-field-field-image-et{
        width: 8rem;
        margin-right: .5em; //LTR
        [dir="rtl"] &{
          margin-right: 0;
          margin-left: .5em;
        }
      }
      
      & > .views-field.views-field-name-field{
        & > .field-content {
          // font-size: 17px;
          height: 8rem;
        }
      }
      
      & > ul{ //1.1.
        margin-left: 5rem; //LTR
        margin-right: 5rem; //LTR
        // font-size: 16px;
        [dir="rtl"] &{ 
          margin-right: 5rem;
          margin-left: 5rem;
        } 
      } 
      
    }
  }
  @media all and (min-width: 1023px){
    & > ul > li {
      margin-bottom: 3em;
      & > .views-field.views-field-field-image-et{
        float: left; //LTR
        width: 10rem;
        margin-right: .5em; //LTR
        [dir="rtl"] &{
          float: right;
          margin-right: 0;
          margin-left: .5em;
        }
      }
      
      & > .views-field.views-field-name-field{
        & > .field-content {
          // font-size: 18px;
          height: 10rem;
        }
      }
      
      & > ul{ //1.1.
        margin-left: 6rem; //LTR
        margin-right: 5.5rem; //LTR
        // font-size: 16px;
        [dir="rtl"] &{
          margin-right: 5.5rem;
          margin-left: 5rem;
        }
      } 
       
    }
  }
}

.view-eu-targets .view-content {
  margin-top: 2em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: @text-color;
  }

  & > ul > li {
    margin-bottom: 3em;
    & > .views-field.views-field-name{
      // font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      // a:hover{
      //   color: @text-color-green;
      // }
    }
    
    & > ul{ //1.1.
      margin-top: .5em;
      margin-left: 2.5em;
      margin-right: 2em;
      // list-style-type: square;
      // list-style-position: inside;
      & > li{
        margin-bottom: 1em;
        position: relative;
        &::before{
          content: '';
          display: table-cell;
          margin-top: .4em;
          margin-right: .5em; //LTR
          background-color: @text-color;
          width: .5em;
          height: .5em;
          position: absolute;
          right: 100%; //LTR
          transition: .2s;
          [dir="rtl"] &{
            margin-right: 0;
            margin-left: .5em;
            right: auto;
            left: 100%;
          }
        }
        
        &:hover::before{
          margin-top: 0;
          height: 100%;
        }
        &:hover{
          cursor: pointer; 
          a {
            text-decoration: none;
            color: @text-color;
          }
          
        }
      }
    }
  }


  //tablets
  @media all and (min-width: 424px){
    & > ul > li {
      & > .views-field.views-field-name{
        // font-size: 16px;
      }
      
      & > ul{ //1.1.
        margin-top: 1.5em;
        margin-left: 3.75em; //LTR
        margin-right: 3.25em; //LTR
        [dir="rtl"] &{ //1.1.
          margin-right: 3.75em; 
          margin-left: 3.25em;
        }
      }
    }
  }
  @media all and (min-width: 767px){
    & > ul > li {
      margin-bottom: 3em;
      & > .views-field.views-field-name{
        // font-size: 17px;
      }
      
      & > ul{ //1.1.
        margin-left: 5.5rem; //LTR
        margin-right: 5rem; //LTR
        // font-size: 16px;
        [dir="rtl"] &{ 
          margin-right: 5.5rem;
          margin-left: 5rem;
        } 
      } 
      
    }
  }
  @media all and (min-width: 1023px){
    & > ul > li {
      margin-bottom: 3em;
      & > .views-field.views-field-name{
        // font-size: 18px;
      }
      
      & > ul{ //1.1.
        margin-left: 6rem; //LTR
        margin-right: 5.5rem; //LTR
        // font-size: 16px;
        [dir="rtl"] &{
          margin-right: 5.5rem;
          margin-left: 5rem;
        }
      } 
       
    }
  }
}

.view-video-library .view-content {
  .views-row {
    display: block;
    padding: 8vw;
    margin-bottom: 1.5em;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px 4px 2px 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    position: relative;

    .views-field.views-field-field-video-link-1 {
      margin: -8vw -8vw 1em;
    }

    .views-field.views-field-title {
      font-size: 1.3em;
      margin-bottom: .25em;
      a {
        color: @navbar-color;
        font-weight: bold;
      }
    }

    .views-field.views-field-body {
      padding: 0;
      font-size: 14px;
      min-height: ~"calc(1 * @{line-height-em})";
      max-height: ~"calc(3 * @{line-height-em})";
      overflow: hidden;
      position: relative;
      margin-bottom: .3em;
      &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        width: 70%;
        height: @line-height-em;
        pointer-events: none;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100&0+0,1+100 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */

      }
    }
    .views-field.views-field-view-node {
      display: inline;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      margin-top: .5em;
      line-height: 1.5em;
    }
  }

  @media all and (min-width: @screen-xs-min) {
    .views-row {
      padding: 1.5em;
      overflow: hidden;
      border-radius: 4px 2px 2px 4px;

      .views-field.views-field-field-video-link-1 {
        margin: -1.5em 0 -1.5em -1.5em;
        width: 40%;
        float: left;
        margin-right: 1em;
      }
      .views-field.views-field-title {
        .field-content {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          color: @navbar-color;
        }
      }
      .views-field.views-field-body {
        max-height: ~"calc(1 * @{line-height-em})";
        overflow: hidden;
        position: relative;
      }

    }
  }
  @media all and (min-width: @screen-sm-min) {
    .views-row {
      .views-field.views-field-body {
        max-height: ~"calc(2 * @{line-height-em})";
      }
    }
  }
  @media all and (min-width: @screen-md-min) {
    .views-row {
      padding: 2em;

      .views-field.views-field-field-video-link-1 {
        margin: -2em 0 -2em -2em;
        width: 30%;
        margin-right: 2em;
      }
      .views-field.views-field-title {
        margin-bottom: .5em;
      }
      .views-field.views-field-body {
        max-height: ~"calc(3 * @{line-height-em})";
      }
    }
  }
}

//rewritten
// .view-video-library,
// .view-projects,
// .view-protected-areas,
// .view-latest-updates {
//   @media all and (min-width: @screen-xs-min) {
//     .media-body {
//       > p {
//         max-height: ~"calc(1 * @{line-height-em})";
//       }
//     }
//   }
//   @media all and (min-width: 650px) {
//     .media-body {
//       > p {
//         max-height: ~"calc(2 * @{line-height-em})";
//       }
//     }
//   }
//   @media all and (min-width: @screen-md-min) {
//     .media-body {
//       > p {
//         max-height: ~"calc(3 * @{line-height-em})";
//       }
//     }
//   }
// }
.page-videos .views-bootstrap-media-plugin-style {
  @media all and (min-width: @screen-xs-min) {
   .media {
    display: block;
      .media-object {
        float: left !important;
        display: block;
        margin: 0;
        width: 40%;
        min-width: 100px;
        margin: 0;
        margin-right: 0em;
        .embedded-video {
          position: relative;
        }
      }
    }
    .media-body {
      display: block;
      > p {
        max-height: ~"calc(1 * @{line-height-em})";
      }
    }
  }
  @media all and (min-width: 650px) {
    .media-body {
      > p {
        max-height: ~"calc(2 * @{line-height-em})";
      }
    }
  }
  @media all and (min-width: @screen-md-min) {
    .media-body {
      > p {
        max-height: ~"calc(3 * @{line-height-em})";
      }
    }
  }
}

.field-name-field-video-link {
  max-width: 600px;
}

.player {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.view-projects .view-content {
  .views-row {
    display: block;
    padding: 10vw;
    margin-bottom: 1.5em;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    
    &.no-image {
      padding-bottom: 10vw;
      .views-field.views-field-field-image {
        display: none;
      } 
    }

    .views-field.views-field-field-image {
      margin: -10vw -10vw 1em -10vw;
      img{
        width: 100%;
      }
    }

    .views-field.views-field-title-field {
      a {
        color: @navbar-color;
        font-weight: bold;
        font-size: 1.3em;
      }
    }

    .views-field.views-field-field-dates {
      font-size: 13px;
      color: #777;
      margin-bottom: .25em;
      .field-content {
        display: inline;
        .form-item {
          display: inline;
        }
      }
    }
    .views-field.views-field-body {
      padding: 0;
      font-size: 14px;
      min-height: @line-height-em;
      max-height: ~"calc(3 * @{line-height-em})";
      overflow: hidden;
      position: relative;
      margin-bottom: .3em;
      &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        width: 70%;
        height: @line-height-em;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100&0+0,1+100 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
        pointer-events: none;
      }
    }
    .views-field.views-field-view-node {
      display: inline;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      margin-top: .5em;
      line-height: 1.5em;
    }

  }

  @media all and (min-width: @screen-xs-min) {
    .views-row {
      padding: 2em;
      padding-bottom: 0;
      &.no-image {
        padding-bottom: 2em;
      }
      .views-field.views-field-field-dates {
        font-size: 12px;
      }
      .views-field.views-field-field-image {
        margin: -2em -2em 1em -2em;
        // margin: 0;
        img{
          width: 35%;
          float: left;
          margin-right: 1em;
        }
      }
      .views-field.views-field-title-field {
        .field-content {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          color: @navbar-color;
        }
      }
      .views-field.views-field-body {
        max-height: ~"calc(1 * @{line-height-em})";
      }

    }
  }
  @media all and (min-width: 560px) {
    .views-row {
      .views-field.views-field-field-dates {
        font-size: 13px;
      }
      .views-field.views-field-body {
        max-height: ~"calc(2 * @{line-height-em})";
      }
    }
  }
  @media all and (min-width: @screen-sm-min) {
    .views-row {
      .views-field.views-field-body {
        max-height: ~"calc(3 * @{line-height-em})";
      }
    }
  }
  @media all and (min-width: @screen-md-min){
    .views-row {
      .views-field.views-field-field-image img{
        width: 220px;
      }
      .views-field.views-field-body {
        // max-height: ~"calc(4 * @{line-height-em})";
      }

    }
  }
}

.view-protected-areas .view-content {
  .views-row {
    display: block;
    padding: 10vw;
    margin-bottom: 1.5em;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    &.no-image {
      padding-bottom: 10vw;
      .views-field.views-field-field-image {
        display: none;
      }
    }

    .views-field.views-field-field-image {
      margin: -10vw -10vw 1em -10vw;
      img{
        width: 100%;
      }
    }
    .views-field.views-field-title-field {
      margin-bottom: .25em;
      a {
        color: @navbar-color;
        font-weight: bold;
        font-size: 1.3em;
      }
    }

    .views-field.views-field-field-dates {
      font-size: 13px;
      color: #777;
      .field-content {
        display: inline;
        .form-item {
          display: inline;
        }
      }
    }
    .views-field.views-field-body {
      padding: 0;
      font-size: 14px;
      min-height: @line-height-em;
      max-height: ~"calc(3 * @{line-height-em})";
      overflow: hidden;
      position: relative;
      margin-bottom: .3em;
      &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        width: 70%;
        height: @line-height-em;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100&0+0,1+100 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */
        pointer-events: none;
      }
    }
    .views-field.views-field-view-node {
      display: inline;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      margin-top: .5em;
      line-height: 1.5em;
    }
  }
  @media all and (min-width: @screen-xs-min) {
    .views-row {
      padding: 2em;
      padding-bottom: 0;
      &.no-image {
        padding-bottom: 2em;
      }
      .views-field.views-field-field-image {
        margin: -2em -2em 1em -2em;
        img{
          width: 35%;
          float: left;
          margin-right: 1em;
        }
      }
      .views-field.views-field-title-field {
        .field-content {
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          color: @navbar-color;
        }
      }
      .views-field.views-field-body {
        max-height: ~"calc(2 * @{line-height-em})";
      }
    }
  }
  @media all and (min-width: @screen-sm-min) {
    .views-row {
      .views-field.views-field-field-image img {
        width: 35%;
      }
      .views-field.views-field-body {
        max-height: ~"calc(3 * @{line-height-em})";
      }
    }
  }
  @media all and (min-width: @screen-md-min){
    .views-row {
      .views-field.views-field-title-field {
        margin-bottom: .5em;
      }
      .views-field.views-field-field-image img{
        width: 220px;
      }
    }
  }
}

//contact form
#webform-client-form-3177 {
  > div {
    > .form-item:not(.webform-conditional-hidden) {
        display: block !important;
      > label {
        white-space: nowrap;
        span.form-required {
          color: #d22020;
        }
      }
    }
    .grippie {
      border-radius: 0 0 4px 4px;
    }
    //ajax elements
    #edit-submitted-file-ajax-wrapper {
      display: table-row-group;
      margin-bottom: .5em;
      input {
        margin-bottom: .5em;
      }
      .description {
        display: inline;
      }
      button {
        margin-bottom: .5em;
      }
    }
  }
  .captcha {
    display: table-row;
    margin-bottom: .5em;
    &:before {
      content: '';
      display: table-cell;
    }
    & + * {
      margin-top: .5em;
    }
  }
  @media all and (min-width: @screen-xs-min) {
    > div {
      display: table;
      .form-item:not(.webform-conditional-hidden) {
        display: table-row !important;
        label {
          text-align: right;
          padding-right: .5em;
        }
        label, .form-control {
          display: table-cell;
          margin-bottom: .5em;
        }
        textarea.form-control {
          margin-bottom: 0;
          resize: none;
        }
      }
      .form-actions button {
        position: relative;
        left: 100%;
        margin-top: .5em;
      }
      .grippie {
        margin-top: -5px;
      }
    }
    .captcha + * {
      margin-top: 0em;
    }
  }
  @media all and (min-width: @screen-sm-min) {
    > div {
      .grippie {
        margin-top: 0px;
      }
    }
  }
}

#block-system-main {
  margin-bottom: 1em;
}

.view-ecosystems {
  tr{
    display: block;
    td{
      display: block;
      padding: 10vw;
      margin-bottom: 1.5em;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      .views-field.views-field-field-image {
        margin: -10vw -10vw 1em -10vw;
        img{
          width: 100%;
        }
      }
      .views-field.views-field-title {
        margin-bottom: .25em;
        a {
          color: @navbar-color;
          font-weight: bold;
          font-size: 1.3em;
        }
      }
      .views-field.views-field-body {
        font-size: 14px;
        position: relative;
        overflow: hidden;
        padding: 0;
        min-height: ~"calc(1 * @{line-height-em})";
        max-height: ~"calc(3 * @{line-height-em})";
        margin-bottom: .3em;
        &:after {
          content: "";
          text-align: right;
          position: absolute;
          bottom: 0;
          right: 0;
          left: auto;
          width: 70%;
          height: @line-height-em;
          pointer-events: none;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100&0+0,1+100 */
          background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 */

        }
      }
      .views-field.views-field-view-node {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
        margin-top: .5em;
      }
    }
  }
  
  @media all and (min-width: @screen-xs-min) {
    tr{
      td{
        padding: 2em;
        padding-bottom: 0;
        .views-field.views-field-title {
          .field-content {
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            color: @navbar-color;
          }
        }
        .views-field.views-field-field-image { 
          margin: -2em -2em 1em -2em;
          img {
            width: 35%;
            float: left;
            margin-right: 1em;
          }
        }
        .views-field.views-field-body {
          max-height: ~"calc(2 * @{line-height-em})";
        }
      }
    }
  }
  @media all and (min-width: @screen-sm-min) {
    tr{
      td{
        .views-field.views-field-title {
          margin-bottom: .5em;
        }
        .views-field.views-field-body {
          max-height: ~"calc(3 * @{line-height-em})";
        }
      }
    }
  }
  @media all and (min-width: @screen-md-min) {
    tr{
      td{
        .views-field.views-field-field-image img {
          width: 220px;
        }
      }
    }
  }
}

.view-persons-network-directory .view-content {
  .views-row {
    padding: 14px;
    @listings-item-base();
  }
  .views-field-title a {
    font-weight: bold;
  }
  .views-field-field-person-positions {
    @ul-margin-padding-reset();
  }
}

// Information page
#block-menu-menu-information-menu {
  width: 100%;
  .content {
    ul.menu.nav {
      >li {
        width: 40%;
        margin: 0 4.5% 4.5%;
        display: inline-block;
        position: relative;

        >a { 
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: @text-color-green;
          font-size: 14px;
          font-family: "Open Sans";
          font-weight: 400;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border: 2px solid @navbar-color;
          cursor: pointer;
          -webkit-transition: background-color .1s ease-in-out;
          -ms-transition: background-color .1s ease-in-out;
          -moz-transition: background-color .1s ease-in-out;
          -o-transition: background-color .1s ease-in-out;
          transition: background-color .1s ease-in-out;
          &:hover,
          &:focus,
          &:active {
            background-color: @navbar-color;
            color: white;
            outline: @navbar-color;
          }
          &:before {
            position: relative;
            display: block;
            text-align: center;
            font-family: "FontAwesome";
            font-size: 300%;
            margin-bottom: 5px;
          }
        }
        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
      @media all and (min-width: @screen-xs-min) {
        >li {
          width: 30%;
          margin: 0 1.4% 1.4%;
          >a {
            font-size: 16px;
          }
        }
      }
      @media all and (min-width: @screen-sm-min) {
        >li {
          width: 20%;
          margin: 0 2.3% 2.3%;
          >a {
            font-size: 18px;
          }
        }
      }
      @media all and (min-width: @screen-md-min) {
        >li {
          >a {
            font-size: 20px;
          }
        }
      }
    }
  }


}


/* Species listing */
#block-views-species-block-1 {
  .content {
    margin-top: 0;
    form {
      #edit-submit-species {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
    .views-table {
      margin-bottom: 0;
      thead {
        th {
          padding: 0;
          a {
            padding: 8px;
            display: block;
            width: 100%;
            color: #333333;
          }
          img {
            display: inline-block;
            margin-top: -3px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}



/* Species details page */
body.node-type-species {
  //.panels-flexible-column.well-sm {
  //  padding: 9px;
  //}
  //.panels-flexible-column-inside {
  //  padding-left: 0;
  //  .panels-flexible-region-1-sidebar {
  //    padding: 0;
  //    width: 100%;
  //  }
  //}
}


/* Event detail page */
.node-event-detail {
  .panel-separator {
    margin: 0 0 .3em 0;
  }

  .field {
    //margin-bottom: 10px;
  }
  .field-name-field-dates {
    color: #666;
    //font-size: 1.2em;
    text-align: left;
    > div {
      display: inline-block;
      float: none;
    }
  }

  .field-name-field-event-address {
    color: #666;
    //font-size: 1.2em;
    text-align: left;
    > div {
      display: inline-block;
      float: none;
    }
    .field-item {
      div, span {
        display: inline;
        float: none;
      }
      > div:after, > span:after {
        content: ", ";
      }
      > div:last-child:after, > span:last-child:after {
        content: "";
      }
    }
  }

  .field-name-field-event-status, .field-name-field-event-type, .field-name-field-url {
    text-align: left;
    > div {
      display: inline-block;
      float: none;
      text-align: left;
    }
  }
  .field-name-body {
    margin-top:30px;
    margin-bottom:40px;
  }
  .field-name-field-images {
    .field-item {
      margin-bottom:20px;
    }
  }
  .panel-flexible .panel-separator {
    margin: 0 0 .5em 0;
  }
}

// Search page
.block-facetapi {
  margin-bottom: .6em;
  h2.block-title {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  > .content .facetapi-custom-facetapi-links,
  > .content .facetapi-facetapi-checkbox-links {
    padding-top: .5em;
    padding-left: .5em;
    margin-left: .3em;
    .dashed-left;
  }
  .facetapi-facetapi-checkbox-links {
    input[type="checkbox"] {
      margin-right: .3em;
    }
    a {
      &, &:hover { color: @text-color;text-decoration: none;}
    }
  }
  .facet-title {
    display: block;
    font-size: 1.4rem;
    margin-top: 0;
    .fa-icon-content(@fa-var-caret-right);
    &:before {
      font-size: 90%;
      margin-right: .3em;
    }
    &, &:hover {
      color: @text-color;
      text-decoration: none;
    }
    &[aria-expanded="true"] {
      .fa-icon-content(@fa-var-caret-down);
      &:before {
        font-size: 90%;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .form-group {
    margin-bottom: 0;
    // padding-bottom: @form-group-margin-bottom;
  }
  .collapsing {
    .transition(height 0.01s);
    // .transition(none);
  }
  .badge {
    background-color: @facets-accent-color;
    padding: 3px 4px;
  }
  .select2-container.select2-container-multi {
    min-width: 100%;
    width: 100%;
    &.select2-container-active .select2-choices {
      border: none;
      .dashed-left;
      box-shadow: none;
    }
  }
  .select2-choices {
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: .5em;
    margin-left: .3em;
    .dashed-left;
  }
  .select2-dropdown-open .select2-choices {
    border-radius: @border-radius-base @border-radius-base 0 0;
  }
  .select2-container.select2-container-multi .select2-search-choice {
    background: #ddd;
    border-color: #d4d4d4;
    box-shadow: none;
    line-height: 1.2em;
    margin: 3px 6px 3px 0;
  }
  .select2-search-field {
    width: 100%;
  }
  .select2-input {
    width: 100% !important;
  }

}
.select2-drop-active,
.select2-drop.select2-drop-active.select2-drop-above {
  border: 1px solid #ddd;
  border-radius: @border-radius-base;
}
.select2-results .select2-highlighted {
  background-color: @facets-accent-color;
}
.view-the-search-view {
  .view-header {
    padding-top: 1em;
    padding-bottom: .5em;
    border-bottom: 1px dashed #e6e6e6;
  }
  .views-row {
    border-bottom: 1px solid #e6e6e6;
    padding: .5em 0 1em;
    &:last-of-type {
      border-bottom: none;
    }
    .views-field.views-field-title-field {
      font-size: 1.3em;
      font-weight: bold;
    }
    .views-field.views-field-field-image {
      // width: 100px;
      // float: left;
      // padding: .2em;
      display: none;
    }
    .views-field.views-field-field-event-status .field-content:not(:empty) {
      color: #888;
      font-size: .9em;
      &:before {
        content: '\f073';
        font-family: "FontAwesome";
        margin-right: .2em;
      }
      &:not(:first-of-type):after {
        content: '\2022';
        margin: 0 .2em;
      }
    }

    .views-field.views-field-search-api-excerpt {

    }
  }
  @media all and (min-width: @screen-xs-min) {
    .views-row {
      // border-bottom: none;
      padding: .5em 0 1em;

      .views-field.views-field-title-field {
        font-weight: bold;
      }
      .views-field.views-field-field-image {
        display: block;
        img {
          min-width: 100px;
          max-width: 150px;
          width: 10%;
          float: left;
          padding: .3em;
          padding-left: 0;
        }
      }

      .views-field.views-field-search-api-excerpt {

      }
    }
  }
  // @media all and (min-width: @screen-sm-min) {
  //   .views-row {

  //     .views-field.views-field-title-field {
  //     }
  //     .views-field.views-field-field-image {
  //       img {
  //       }
  //     }
  //     .views-field.views-field-field-event-status {
  //     }

  //     .views-field.views-field-search-api-excerpt {

  //     }
  //   }
  // }
  > .text-center {
    text-align: initial;
  }
  // Hide submit button and autosubmit on change
  #edit-submit-the-search-view {
    display: none;
  }
}
#edit-search-api-views-fulltext-wrapper {
  float: none;
  padding-top: 0;
  padding-right: 0;
  // .views-exposed-widget {
  //   float: right;
  // }
  #edit-search-api-views-fulltext {
    width: 100%;
    @media (min-width: @grid-float-breakpoint) {
      width: 100%;
    }
  }
}

@facets-accent-color: lighten(@button-bgcolor, 5%);
.search-api-ranges-elements {
  position: relative;
  .pull-left {
    margin-bottom: @form-group-margin-bottom;
    max-width: 88%;
  }
  .form-submit {
    display: block;
    padding: 0px;
    font-size: 0;
    box-shadow: none;
    height: 30px;
    .fa-icon-content(@fa-var-repeat);
    &:before {
      font-size: initial;
      color: @facets-accent-color;
    }
    &, &:hover, &:focus, &:active, &:active:focus {
      background:none;
    }
    &:hover:before {
      color: darken(@facets-accent-color, 5%);
    }
    &:focus,
    &:active {
      outline: none;
      .fa-spin();
      -webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
      animation-duration: .5s;
    }
  }
  .form-item-range-from,
  .form-item-range-to {
    float: left;
    label {
      font-size: 90%;
      text-transform: lowercase;
    }
    label, input {
      display: inline-block;
    }
    .form-control {
      background-color: transparent;
      border-radius: 0;
      border-width: 0 0 1px;
      box-shadow: none;
      display: inline-block;
      font-size: inherit;
      height: 30px;
      padding: 0;
      width: 3.5em;
    }
  }
  .irs-bar, .irs-to, .irs-from, .irs-single, .irs-slider {
    background-image: none;
    background-color: @facets-accent-color;
  }
  .irs-to,
  .irs-from,
  .irs-single {
    &:after {
      border-top-color: @facets-accent-color;
    }
  }
  .irs-slider {
    width: 3px;
    &:hover {
      background-color: darken(@facets-accent-color, 5%);
    }
  }
}
table .views-field-title a,
table .views-field-title a:hover {
  color: @link-color-temp;
}