html {
  body.admin-menu-with-shortcuts {
    margin-top: 64px !important;
  }
}

.field-slideshow-wrapper {
  position: relative;
  .field-slideshow {
    position: relative;
    width: 100%;
    .field-slideshow-slide {
      position: relative!important;
      margin: 0 auto;
      text-align: center;
      width: 100%!important;
      img {
        position: relative;
        margin: 0 auto;
      }
    }
  }
  .field-slideshow-controls {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 100%;
    a {
      background-color: @navbar-color;
      color: #ffffff;
      padding: 6px;
      margin-top: -17px;
      font-size: 0;
      border: 1px solid darken(@navbar-color, 10%);
      border-radius: 2px;
      &:hover, &:focus {
        text-decoration: none;
      }
      &:before {
        display: block;
        text-align: center;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width: 17px;
        height: 17px;
      }
      &.prev {
        float: left;
        &:before {
          content: "\e079";
        }
      }
      &.next {
        float: right;
        &:before {
          content: "\e080";
        }
      }
    }
  }
}