.site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer {
  background-color: @footer-color;
  color: #ffffff;
  .nav {
    li {
      a {
        padding: 0;
        &:hover {
          color: #cdcdcd;
        }
      }
    }
  }
}

#footer2 {
  .footer-logo {
    float: left;
    img {
      max-height: 120px;
    }
  }
  .footer-support {
    float: right;
    text-align: center;
    img {
      max-height: 100px;
    }
  }
}