.region-admin-shortcuts {
  #block-system-user-menu {
    .menu {
      &:before {
        display: inline-block;
      }
      li {
        display: inline-block;
        padding: 0 10px;
        a {
          padding: 0;
        }
      }
    }
  }
}

#block-chm-search-chm-search {
  form {
    position: relative;
    input {
      &[type="text"] {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 40px;
        width:380px;
        @media all and (max-width: @screen-xs-max){
           width:280px;
        }
        padding: 4px 10px;
        font-size: 14px;
        line-height: 30px;
        color: #555;
        vertical-align: middle;
      }
    }
    .btn-search {
      position: absolute;
      top: 7px;
      right: 11px; //LTR
      [dir="rtl"] &{
        right: auto;
        left: 10px;
      }
    }
  }
}

#page-header {
  display: block;
  .logo {
    display: block;
    float: left; //LTR
    [dir="rtl"] &{
      float:right !important;
    }
    margin: 10px 0px 10px 0;
    @media all and (max-width: @screen-xs-max){
      width: 100%;
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }

  .navbar-brand {
    display: block;
    float: left; //LTR
    [dir="rtl"] &{
      float:right;
    }
    height: 100px;
    padding: 0;
    // padding-top: 50px;
    // padding-bottom: 50px;
    // height: 124px;
    line-height: 100px;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    @media all and (max-width: @screen-xs-max) {
      // padding-top: 25px;
      // padding-bottom: 25px;
      line-height: 30px;
      height: auto;
      text-align: center;
      width: 100%;
    }
  }
  #nav-search {
    display: inline-block;
    float: right; //LTR
    [dir="rtl"] &{
      float: left;
    }
    margin: 32px 0 0 0;
    @media all and (max-width: @screen-md-min) {
      display: none;
    }
  }

  /* Site name & slogan @todo: finish responsiveness for devices */
  .site-name {
    font-family: "PT Serif";
    font-weight: 700;
    font-size: 30px;
    width: 75%;
  }

  #site-slogan {
    font-size: 14px;
    font-family: "Open Sans";
  }

  #name-and-slogan {
    display: block;
    width: 100%;
    vertical-align: middle;
    float: left;
    [dir="rtl"] &{
      float:right;
    }
    margin-bottom: 20px;
    a {
      // height: 60px;
      float: none;
      @media (min-width: @grid-float-breakpoint) {
        height: 60px;
      }
    }
  }

  .header .site-logo img {
    border:7px solid white;
    -webkit-box-shadow: 0 0 5px 4px rgba(204,204,204,.6);
    -moz-box-shadow: 0 0 5px 4px rgba(204,204,204,.6);
    box-shadow: 0 0 5px 4px rgba(204,204,204,.6);
    max-height:45px;
  }
  .header .site-logo img:hover {
    -webkit-box-shadow: 0 0 5px 4px rgba(204,204,204,1);
    -moz-box-shadow: 0 0 5px 4px rgba(204,204,204,1);
    box-shadow: 0 0 5px 4px rgba(204,204,204,1);
  }

@media (min-width: @grid-float-breakpoint) {
  #name-and-slogan {
    display: table-cell;
    width: auto;
  }
  #logo {
    display: table-cell;
    vertical-align: middle;
    // width: 130px;
  }
}
  div#logo.site-logo img {
    max-height: none;
  }

  .green-theme .header .site-logo img {
    box-shadow:none;
    border:none;
  }
  .green-theme .header .site-logo img:hover {
    box-shadow:none
  }

  @media (max-width: 767px) {
    .nav-search {
      float: right;
      margin: 2px 0 0 0;
    }
    #site-slogan {display:none}
  }

  @media (max-width: 480px) {
    .header #logo {
      float:left;
      margin-top: 20px;
      text-align: left;
    }
    #name-and-slogan {
      float: left;
      padding-left: 0;
      // width: auto;
    }
    .site-name {
      width:100%;
      text-align: left;
    }

  }

}
.header-section {
  display: table;
}
body.country-portal .logo img {
  // margin: 20px 20px 0 0 !important;
  [dir="rtl"] & {
    // @todo: get clarification on whether the header should align to one side or be centered
      // margin: 0 0 0 20px !important;
    }

}

//collapse menu earlier to fit content
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
}

.navbar-container {
  background-color: @navbar-color;
  #navbar {
    background: none;
    border: none;
    min-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    @media all and (min-width: @screen-md-min) {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-header {
      .navbar-toggle {
        float: left;
        [dir="rtl"] & {
          float: right;
        }
        border: none;
        .icon-bar {
          background-color: #ffffff;
        }
        &:hover, &:focus {
          background: none;
        }
      }
      #nav-search {
        margin-top: 4px;
        [dir="rtl"] & {
          float: left;
        }
        @media all and (min-width: @screen-md-min) {
          display: none;
        }
      }
    }
    .navbar-collapse {
      border: none;
      @media all and (min-width: @screen-sm-min) {
        padding-left: 0;
        padding-right: 0;
      }
      .nav {
        [dir="rtl"] & {
          float: right;
          padding-right: 0;
          @media all and (max-width: @screen-xs-max) {
            float: none;
          }
        }
        li {
          [dir="rtl"] & {
            padding: 0;
            margin-right: 0;
          }
          @media all and (min-width: @screen-md-min) {
            float: left;
            [dir="rtl"] & {
              float: right;
            }
          }
          a {
            color: #ffffff;
            border: none;
          }
          a.dropdown-toggle {
            background-color: transparent;
            .caret {
              margin-top: -5px;
            }
          }
          @media all and (min-width: @screen-md-min) {
            .expanded {
             display: flex;
             &.dropdown-submenu-right {
              flex-direction: row-reverse;
              .dropdown-toggle {
                margin-left: 0;
                margin-right: -10px;
                padding-right: 0;
                padding-left: 10px;
              }
              .caret {
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
              }
             }
            }
            a.dropdown-title {
              display: inline-block;
            }
            a.dropdown-toggle {
              display: inline-block;
              padding-left: 0;
              padding-right: 10px;
              pointer-events: none;

            }
          }
          @media all and (max-width: @screen-sm-max) {
            .expanded {
              position: relative;
            }
            a.dropdown-toggle {
              cursor: pointer;
              position: absolute;
              top: 0;
              right: 0;
            }
            .caret {
              -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
            }
          }
          .active {
            @media all and (min-width: @screen-md-min) {
              background-color: #ffffff;
            }
            color: @navbar-color;
            & + .dropdown-toggle {
              background-color: #fff;
              > .caret {
                border-top-color: @navbar-color;
              }
            }
          }
          @media all and (max-width: @screen-sm-max) {
            a.active {
              background-color: #fff;
              // color: @navbar-color;
            }
          }
          .active-trail {
            font-weight: bold;
            &:not(.active):hover {
              background-color: transparent;
              .dropdown-toggle span.caret {
                border-top-color: #fff;
              }
              // color: @navbar-color;
            }
          }
          &:hover {
            background-color: transparent;
            @media all and (min-width: @screen-md-min) {
              background-color: darken(@navbar-color, 3%);
            }
          }
          &.open {
            > a {
              background-color: darken(@navbar-color, 3%);
              color: #ffffff;
              @media all and (max-width: @screen-sm-max) {
                background-color: transparent;
              }
              .caret {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
              }
            }
            > a.active {
              background-color: #ffffff;
              color: @navbar-color;
            }
            .caret {
              border-top-color: #ffffff;
            }

          }
        }

        .dropdown {
          @media all and (min-width: @screen-md-min) {
            &:hover {
              > .dropdown-menu {
                display: block;
              }
            }
          }
          &.active > .dropdown-menu {
            border-top: none;
            margin-left: -1px;
            margin-top: 0;
            &.dropdown-menu-right {
              margin-left: 0px;
              margin-right: -1px;
            }
          }
          .dropdown-menu {
            margin-top: -1px;
            min-width: 150px;
            border-radius: 0;
            [dir="rtl"] &{
              text-align: right;
              left: auto;
              right: 0;
            }
            li {
              width: 100%;
              @media all and (min-width: @screen-md-min) {
                &.open > a {
                  color: #fff;
                }
                &:hover {
                  > a {
                    background-color: transparent;
                    color: #fff;
                  }
                }
              }
              a {
                color: #000000;
                @media all and (max-width: @screen-sm-max) {
                  color: #fff;
                }
                &.dropdown-title {
                  width: 100%;
                }
              }
            }
            @media all and (min-width: @screen-md-min) {
              .caret {
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
              }
            }
            .active {
              @media all and (min-width: @screen-md-min) {
                background-color: @navbar-color;
              }
              > a.active {
                background-color: @navbar-color;
                color: #ffffff;
                text-shadow: 2px 2px rgba(0,0,0,.2);
                @media all and (max-width: @screen-sm-max) {
                  &:before {
                    content: ' › ';
                  }
                }
                & + .dropdown-toggle {
                  background-color: @navbar-color;
                  > .caret {
                    border-top-color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


/* Allow more than one level drop-down to open */
.dropdown-submenu {
  position:relative;
}

.dropdown-submenu > .dropdown-menu {
  margin-left: 1em;
  @media all and (min-width: @screen-md-min) {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    min-width: auto;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px;
    border-radius:0 6px 6px 6px;
    display: none;
  }
}
.open > .dropdown-menu {
  display: block;
}
@media all and (min-width: @screen-md-min) {
  .dropdown-submenu:hover > .dropdown-menu {
    display:block;
  }

  .dropdown-submenu:hover > a,
  .dropdown-submenu:focus > a {
    background-color: transparent;
    color: #fff;
  }
}
.dropdown-submenu:hover > a:after {
  border-left-color:#fff;
}
.dropdown-submenu.dropdown-submenu-right {
  float:none;
}
.dropdown-submenu.dropdown-submenu-right > .dropdown-menu {
  left: auto;
  right: 100%;
  margin-right: -1px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
#block-locale-language-content {
  float: left;

  ul.language-switcher-locale-url:before {
    content: "\f0ac";
    font-size: 20px;
    font-family: FontAwesome;
    position:relative;
    top:2px;
    // left:-7px;
    padding: 0 7px;
    color:#ccc;
  }
  .language-switcher-locale-url {
    margin: 0 20px 0 0;
    list-style: none;
    padding: 0;
  }
  .language-switcher-locale-url li {
    display:inline-block;
    border-left: 1px solid #444;
    padding:0 .5em;
    border-left: none !important;
  }
  .language-switcher-locale-url li.active { background:#fff; }
  .language-switcher-locale-url li.active a { color:#333; }
  .language-switcher-locale-url li.first { border-left: none; }
}


#block-system-user-menu {
  float: left;

  li {
    line-height:20px;
    border-left: 1px solid #444;
    margin-left: 0;
    padding: 0 .5em;
  }
  li.first { border-left: none  }
  ul.menu:before {
    content: "\f013";
    font-size: 20px;
    font-family: FontAwesome;
    position:relative;
    top:2px;
    left:3px;
    color:#ccc;
    padding: 0 3.5px;
  }
}


.domain-www #page-header #name-and-slogan {display:none}

.logged-in #block-system-user-menu {display:none}


@media (min-width: 1097px){
body.admin-menu {
    padding-top: 0px;
}}
.admin-menu-search .control-label {display:none}

#admin-menu {font-family: "Open Sans";}

#admin-menu-wrapper {
  font-size:1em;
  line-height:35px;
}

html body.admin-menu {
    margin-top: 35px !important;
}

body #admin-menu .dropdown li {
    line-height: 21px;
}

#admin-menu .dropdown li.admin-menu-icon {padding-top:3px;}

#admin-menu {
    background: #444;
}

#admin-menu .shortcut-toggle {
    margin: 5px 0 0 1.3em;
  }

  #page-header .navbar-brand {
    @media (min-width: @grid-float-breakpoint) {
      line-height: 82px;
    }
  }

 #admin-menu-users {display:none;} 

 #admin-menu .admin-menu-search input {
    margin-right:5px;
    border-radius: 3px;
  }
.flag-border {
  border: 1px solid #ddd;
}