/* Styling related to slick slideshow */
//slide arrows

[dir="rtl"] .slick-arrow{
  &.slick-prev{
    right: 0;
  }
  &.slick-next{
    left: 0;
  }
}
.slick-arrow{
  height: 20px;
}
.slick-prev::before, .slick-next::before {
  color: #bbb;

  font-size: 3.5rem;
  -moz-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  -ms-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: lighten(#bbb,5%);
}
//keeps slides from bouncing back from LTR - float: left
// [dir='rtl'] .slick-slide{
//   float: right !important;
// }
//general styles for slider
.slick-content {
  position:absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* Landscape phone to landscape tablet */
  @media (max-width: 979px) {
    // right: 15%;
    // top: 15%;
    width: 70% !important;  
  }
  @media (max-width: 767px) {
    // left: 0%;
    // top: 0%;
    width: 100% !important;
    padding: 300px 35px;
    min-height: 100%;
    & p{
      display:none;
    } 
    & h2{
      font-size: 20px;
      margin-top:0;
    }  
  }
}

// styling specific to homepage slider
.view-home-page-image-slider {
  .slick-slide, .slick-content.well {
    a {
      color: white;
    }

    a:hover {
      text-decoration: none;
    }
    a.more-link {
      margin-top: 15px;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      @media (max-width: 767px){
        margin-top: 1em;
      }
    }
    a.more-link::after {
      content: " »";
    }
  }
  .slick-content.well {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    text-align: center;
    width: 70%;
    // top: 50%;
    // left: 50%;
    // right: 0;
    // display: block;
    // transform: translate(-50%, -50%);
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;
    -ms-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;
    @media all and (max-width: 991px){
      >p{
        display: none;
      }
    }
    @media all and (max-width: 767px){
      h2 > a{
        margin: 0;
        font-size: 26px;
        
      }
      a.more-link{
        margin: 0;
      }
      .form-item.form-type-item.form-group{
        font-size: 12px;
        margin: 0 0 .5em 0;
        text-overflow: ellipsis;
      }
    }
    @media all and (max-width: 457px){
      h2{
        margin-bottom: 0;
      }
      h2 > a{
        margin: 0;
        font-size: 18px;
        font-size: 6vw;
      }
      a.more-link{
        display: none;      
      }
      .form-item.form-type-item.form-group{
        font-size: 10px;
      }
    }
  }
  .slick-content.well:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slick-content .btn {
    background-color: transparent;
    background-image: none;
    border: 1px solid white;
    box-shadow: none !important;
  }
  .slick-content .btn:hover {
    background-color: @text-color-green;
    background-image: none;
    border: 1px solid @text-color-green;
  }
}

