@chm-red: #CC0000;
@chm-blue: #06c;
@chm-green: #039749;

@navbar-color: @chm-green;
@footer-color: #02783a;
@text-color-green: #02823F;

@text-gray: #777777;
@link-color-temp: @chm-blue;
@link-color-hover-temp: @link-color-temp;

@line-height-em: 1.42857143em;
@line-height-nr: 1.42857143;
@button-bgcolor: #0071B8;